{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{#{% block nav_li %}#}
{#    <li><a href="{{ url_for('main.index') }}"><strong>目录</strong></a></li>#}
{#    <li><a href="{{ url_for('main.cms') }}"><strong>管理</strong></a></li>#}
{#    <li class="active"><a href="{{ url_for('main.about') }}"><strong>关于</strong></a></li>#}
{#{% endblock %}#}

{% block content %}
    <div>
        <h3>This is 'About' page!</h3>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}