{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/marked.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div id="article">
                <h2 class="text-center" v-text="blog.title"></h2>

                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-left" v-text="'发布时间：'+blog.time"></h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center" v-text="'分类：'+blog.category"></h5>
                    </div>
                    <div class="col-md-2">
                        <a :href="'/blog/edit/'+blog.id"><i class="glyphicon glyphicon-edit"></i></a>
                    </div>
                </div>
                <hr>
                <div v-html="compiledMarkdown"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var art_vm = new Vue({
            el: '#article',
            data: {
                blog: {},
                markhtml: ''
            },
            computed: {
                compiledMarkdown: function () {
                    this.markhtml = marked(this.blog.text, {sanitize: true});
                    return this.markhtml
                }
            }
        });

        function initPage() {
            var path = window.location.pathname;
            $.get('/api' + path, function (data, status) {
                {#                alert(JSON.stringify(data.blog));#}
                art_vm.blog = data.blog;
            });
        }
        ;

        initPage();

    </script>
{% endblock %}