{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit/css/components/htmleditor.css') }}"/>
    <script src="{{ url_for('static', filename='uikit/js/components/htmleditor.js') }}"></script>
    <script>

    </script>
{% endblock %}

{% block board %}
    <div class="uk-grid uk-grid-collapse">
        <form id="editor" class="uk-width-1-1 uk-form">
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <input v-model='blog.title' type="text" class="uk-width-1-1" placeholder="标题">
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <input v-model='blog.description' type="text" class="uk-width-1-1" placeholder="描述">
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <textarea id="editor_string" cols="" rows="" placeholder=""></textarea>
                    {#                    <textarea id="editor_string" cols="" rows="" placeholder=""#}
                    {#                              data-uk-htmleditor="{markdown:true}"></textarea>#}
                </div>
            </div>
            <div class="uk-form-row">
                <select id="cate" class="uk-form-controls">
                    <option v-text="blog.category"></option>
                    <template v-for="c in blog.other_category">
                        <option v-text="c"></option>
                    </template>
                </select>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <button type="button" class="uk-button uk-width-1-1 button_shadow uk-border-rounded"
                            @click="submit_edit">提交
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        var editor_vm = new Vue({
            el: '#editor',
            data: {
                blog: {
                    'id': null,
                    'url': null,
                    'title': null,
                    'text': '',
                    'time': null,
                    'user': null,
                    'new_category': null,
                    'category': null,
                    'description': '',
                    'img_url': null
                },
                markhtml: ''
            },
            computed: {
                compiledMarkdown: function () {
                    this.markhtml = marked(this.blog.text, {sanitize: true});
                    return this.markhtml
                }
            },
            methods: {
                submit_edit: function () {
                    this.blog.text = $('#editor_string').val();
                    this.blog.category = $("#cate option:selected").text();
                    $.post('/api/blog/' + this.blog.id + '/edit', this.blog, function (data, status) {
                        var blog_id = data.id;
                        $(location).attr('href', '/blog/' + blog_id);
                    });
                }
            }
        });

        {#初始化codemirror编辑器#}
        var mytextarea = document.getElementById('editor_string');
        var htmleditor = UIkit.htmleditor(mytextarea, {mode: 'split', markdown: true});

        function initPage() {
            var path = window.location.pathname;
            $.get('/api' + path, function (data, status) {
                editor_vm.blog = data.blog;
                htmleditor.editor.setValue(editor_vm.blog.text);
            });
        }
        ;

        initPage();

    </script>
{% endblock %}