{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit/css/components/htmleditor.css') }}"/>
    <script src="{{ url_for('static', filename='uikit/js/components/htmleditor.js') }}"></script>
{% endblock %}

{% block board %}
    <div class="uk-grid uk-grid-collapse">
        <form id="editor" class="uk-width-1-1 uk-form">
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <input v-model='blog.title' type="text" class="uk-width-1-1" placeholder="标题">
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <input v-model='blog.description' type="text" class="uk-width-1-1" placeholder="关键字或描述语，关键字之间请用英文字符';'隔开">
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <textarea id="editor_string" cols="" rows="" placeholder=""></textarea>
                    {#                    <textarea id="editor_string" cols="" rows="" placeholder=""#}
                    {#                              data-uk-htmleditor="{markdown:true}"></textarea>#}
                </div>
            </div>
            <div class="uk-form-row">
                <select id="cate" class="uk-form-controls">
                    <option v-text="blog.category"></option>
                    <template v-for="c in blog.other_category">
                        <option v-text="c"></option>
                    </template>
                </select>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <button type="button" class="uk-button uk-width-1-1 button_shadow uk-border-rounded"
                            @click="submit_edit">提交
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/blog/edit.js') }}"></script>
{% endblock %}