{% extends 'base.html' %}
{% import "_pagination_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <style>

        #article {
            box-shadow: -3px 3px 10px black;
            padding: 0 0 0 0;
            margin-bottom: 7%;
        }

        #article_img-left {
            margin-top: 0;
            box-shadow: -5px 5px 25px black;
        }

        #article_img-right {
            margin-top: 0;
            box-shadow: -5px 5px 25px black;
        }

        #article p {
            margin-top: 0;
            margin-bottom: 0;
        }

        #article hr {
            margin-top: 5px;
            margin-bottom: 8px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7 col-md-offset-0">
            <div class="row">
                <div class="col-md-12">
                    {% if blogs %}
                        {% for blog in blogs %}
                            <div id="article" class="thumbnail">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="article_img-left" class="img-responsive img-rounded"
                                             src="{{ url_for('static', filename='article_img/%s' % blog.img) }}">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="caption">
                                            <p class="text-center lead text-success">{{ blog.title }}</p>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p class="text-muted lead">
                                                        <small>{{ blog.description | truncate(20) }}</small>
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="{{ url_for('main.single_blog', id=blog.id) }}">
                                                        <button type="button" class="btn btn-link pull-right">继续阅读>>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-6 center_mini">
                    <div class="pagination">
                        {{ macros.pagination_widget(pagination, 'main.index') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

