{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>

        #article {
            box-shadow: -3px 3px 10px black;
            padding: 0 0 0 0;
            margin-bottom: 7%;
        }

        #article_img-left {
            margin-top: 0;
            box-shadow: -5px 5px 25px black;
        }

        #article_img-right {
            margin-top: 0;
            box-shadow: -5px 5px 25px black;
        }

        #article h1 {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-0">
            <div class="row">
                <div class="col-md-12">
                    {#            <div class="alert alert-success">#}
                    {#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
                    {#                {{ get_flashed_messages()[0] }}#}
                    {#            </div>#}
                    {% if blogs %}
                        {% for blog in blogs %}
                            <div id="article" class="thumbnail">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="article_img-left" class="img-responsive img-rounded"
                                             src="{{ url_for('static', filename='img/test_img.png') }}"
                                             style="width: 100%; height: auto">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="caption">
                                            <a href="{{ url_for('main.single_blog', id=blog.id) }}">
                                                <h1 class="page-header text-center">
                                                    <small>{{ blog.title }}</small>
                                                </h1>
                                            </a>
                                            <p>{{ blog.text | truncate(50, True) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="article" class="thumbnail">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img id="article_img-right" class="img-responsive img-rounded"
                                             src="{{ url_for('static', filename='img/test_img2.png') }}"
                                             style="width: 100%; height: auto">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="caption">
                                            <a href="{{ url_for('main.single_blog', id=blog.id) }}">
                                                <h1 class="page-header text-center">
                                                    <small>{{ blog.title }}</small>
                                                </h1>
                                            </a>
                                            <p>{{ blog.text | truncate(50, True) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

