<!DOCTYPE html>
<html lang="zh">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='uikit/css/uikit.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='uikit/css/components/sticky.css') }}"/>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='uikit/js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
        <script src="{{ url_for('static', filename='uikit/js/components/lightbox.js') }}"></script>
        <script src="{{ url_for('static', filename='uikit/js/components/sticky.js') }}"></script>


        <!-- Codemirror 和 marked 依赖 -->
        <!-- 需要浏览器支持ES6标准，import的新特性，暂时未做其他标准的兼容 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
        <script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
        <script src="{{ url_for('static', filename='codemirror/mode/markdown/markdown.js') }}"></script>
        <script src="{{ url_for('static', filename='codemirror/addon/mode/overlay.js') }}"></script>
        <script src="{{ url_for('static', filename='codemirror/mode/xml/xml.js') }}"></script>
        <script src="{{ url_for('static', filename='codemirror/mode/gfm/gfm.js') }}"></script>
        <script src="{{ url_for('static', filename='js/marked.js') }}"></script>
        {{ moment.include_moment() }}
        {{ moment.lang("zh-CN") }}

        <style>
            .l_d_shadow {
                box-shadow: -5px 5px 15px black;
                background-color: #ffffff;
            }

            #content_page {
                margin: 25px;
            }

            .button_shadow {
            box-shadow: -1px 1px 10px black;
        }
        </style>

    {% endblock %}
</head>

<body>
<div class="uk-grid uk-grid-collapse">
    <div class="uk-width-medium-4-6 uk-container-center l_d_shadow uk-border-rounded">
        <img src="{{ url_for('static', filename='img/top_image.png') }}" class="">
        <nav class="uk-navbar l_d_shadow uk-border-rounded" style="background-color: #ffffff" data-uk-sticky>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">目录</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.cms') }}">管理</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('main.about') }}">关于</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="uk-width-medium-4-6 uk-container-center l_d_shadow uk-border-rounded"
         style="margin-top: 20px; margin-bottom: 20px">
        <div id="content_page">
            {% block board %}
                <div class="uk-grid uk-grid-divider">
                    <div class="uk-width-large-2-3 uk-width-medium-1-1">
                        {% block content %}
                        {% endblock %}
                    </div>
                    {% block sidebar %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>

</div>

{% block scripts %}
{% endblock %}

</body>
</html>