.red_text{
    color: #d05;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.black_text{
    color: black;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}