body {
    background-color: rgba(255, 255, 255, 0.96);
    /*background-color: rgba(252, 249, 247, 0.89);*/

}

.uk-navbar {
    background-color: rgba(255, 255, 255, 0.9);
    /*opacity: 0.8;*/
    padding: 6px;
    margin-bottom: 25px
}

#topic_dropdown {
    background-color: rgba(255, 255, 255, 0.9);
    /*opacity: 1;*/
}

#topic_dropdown p {
    margin-bottom: 0;
}

#board {
    /*background-color: rgba(252, 249, 247, 0.89);*/
    background-color: rgba(255, 255, 255, 0.96);
    margin-top: 10px;
    margin-bottom: 20px;
}

.l_d_shadow {
    /*box-shadow: -5px 5px 15px black;*/
    /*background-color: #ffffff;*/
    box-shadow: -1px 1px 10px black;
    max-width: 1000px;
}

.l_shadow {
    /*box-shadow: -5px 5px 15px black;*/
    box-shadow: -1px 0px 10px black;
}

#content_page {
    /*background-image:url(/static/img/11.jpeg);*/
    margin: 25px;
    min-height: 800px;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
}

#content_board {
}

.button_shadow {
    box-shadow: -1px 1px 10px black;
}

.edit_button_shadow {
    box-shadow: 0 0 4px black;
}

.category_button {
    padding: 0 8px;
    margin: 0 5px 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 25px;
}

#topic {
    overflow-y: auto;
    max-height: 350px;
}

#topic .uk-accordion-title {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 25px;
    height: 36px;
    margin: 15px 0 10px 0;
}

.uk-accordion-title h4{
    margin-top: 7px;
}

.uk-accordion-content {
    margin-left: 10px;
    margin-right: 10px;
}

.button_shadow_accordion h4{
    box-shadow: -1px 1px 10px black;
}