body {
    background-color: rgba(255, 255, 255, 0.96);
    /*background-color: rgba(252, 249, 247, 0.89);*/

}

#board {
    /*background-color: rgba(252, 249, 247, 0.89);*/
    background-color: rgba(255, 255, 255, 0.96);
    margin-top: 10px;
    margin-bottom: 20px;
}

.l_d_shadow {
    /*box-shadow: -5px 5px 15px black;*/
    /*background-color: #ffffff;*/
    box-shadow: -1px 1px 10px black;
}

.l_shadow {
    /*box-shadow: -5px 5px 15px black;*/
    box-shadow: -1px 0px 10px black;
}

#content_page {
    /*background-image:url(/static/img/11.jpeg);*/
    margin: 25px;
    min-height: 500px;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
}

#content_board {
}

.button_shadow {
    box-shadow: -1px 1px 10px black;
}

.edit_button_shadow {
    box-shadow: 0 0 4px black;
}

.category_button {
    padding: 0 8px;
    margin: 0 5px 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 25px;
}

/*#top {*/
/*height: 200px;*/
/*background: url('/static/img/top_image1.png') no-repeat center;*/
/*background-size: 100%;*/
/*}*/